.todo{
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todo-heading{
    text-align: center;
}

.todo-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.add{
    width: 1.5rem;
    height: 1.5rem;
}


.btn-logout{
    width: max-content;
    height: 1.5rem;
}

.tasks{
    width: 300px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    margin: 0 auto;
}

.tasks-box{
    border: 1px solid rgb(102, 102, 102);
    margin: 0.2rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    padding-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

}


/* In your Todo.css file or your CSS styles */
.dateview {
    width: 1.5rem;
    height: 1rem;
    border-radius: 0.5rem;
  }
  
  @media only screen and (max-width: 767px) {
    .dateview {
        width: 40px;
        height: 15px;
        border-radius: 8px;
    }

}